@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@mixin centerContent(){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sliderDiv{
    // display: flex;
    // flex-direction: row;
    // overflow-x: scroll;
    // width: 90%;
    margin-right: 2vw;
    margin-left: 2vw;
    // background-color: aliceblue;
}

body {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.32),
      rgba(0, 0, 0, 0.32)
    ),
    linear-gradient(
      123.43deg,
      rgba(130, 35, 132, 0.13) 26.04%,
      rgba(92, 13, 140, 0.2) 71.35%
    ),
    linear-gradient(
      123.43deg,
      rgba(0, 0, 0, 0.2) 17.19%,
      rgba(0, 0, 0, 0.2) 67.71%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000000;
}

.titleDiv{
  height: 90vh;
  @include centerContent();
}
.blink {
  animation: blink-animation 1s steps(5, start) 5;
  -webkit-animation: blink-animation 1s steps(5, start) 5;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}