@font-face {
  font-family: 'Future Z';
  src: url('../../../../public/fonts/future-z-font/FutureZ-MVEaw.ttf');;
}

@mixin centerContent() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonText {
  color: white;
  margin-top: -3.5vw;
  width: 20vw;
  @include centerContent();
}
.buttonStyle {
  @include centerContent();
  width: 20vw;
  padding-top: 5vw;
  font-family: 'Future Z';
  font-family: Future Z;
  font-style: italic;
  font-weight: normal;
  font-size: 1.52vw;
  line-height: 85.9%;
}

// Media queries to position the text inside the button

@media only screen and (max-width: 1100px) {
  .buttonText {
    margin-top: -5vw;
  }
}
@media only screen and (max-width: 900px) {
  .buttonText {
    margin-top: -7vw;
  }
}
@media only screen and (max-width: 648px) {
  .buttonText {
    margin-top: -9vw;
  }
}
@media only screen and (max-width: 460px) {
  .buttonText {
    margin-top: -11vw;
  }
}
@media only screen and (max-width: 364px) {
  .buttonText {
    margin-top: -13vw;
  }
}