.menuStyle {
  display: flex;
  justify-content: center;
  margin-top: 1.5vw;
  font-size: 1.5vw;
  cursor: context-menu;

  //   border: 2px solid white;

  .menuItem {
    padding: 1vw;
    padding-right: 1vw;
    padding-left: 1vw;
    // margin-right: 3vw;
    // margin-left: 3vw;
    // border: 2px solid white;
    // font-size: 1.5vw;
    color: white;
  }

  .menuItem:hover {
    text-decoration: underline;
  }

  .contactButton {
    color: white;
    padding: 1vw;
    padding-right: 2vw;
    padding-left: 2vw;
    position: absolute;
    right: 2vw;
    background-color: #3d3440;
    border-radius: 3vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    // font-size: 1.5vw;
    // line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
    // margin-left: 1vw;
  }

  .turingSVG {
    position: absolute;
    left: 2vw;
    padding-right: 1vw;
  }
}

.centerMenuItems {
  display: flex;
  justify-content: space-evenly;
  //   border: 2px solid white;
  min-width: 80px;
  flex-wrap: wrap;
  margin-right: 1vw;
  margin-left: 1vw;
}

@media only screen and (max-width: 500px) {
  .menuStyle {
    font-size: 2vw;
  }
  .menuItem {
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .centerMenuItems {
    margin-left: 0vw;
  }
  .turingSVG {
    left: 1vw;
    padding-right: 0.5vw;
  }
}
