.Modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    // top: 0;
    display: flex;
    background: #000000F2;
    // border: 2px solid white;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    .ModalContent{
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        padding: 5vw;
        color: black;
        .crossButton{
            position: absolute;
            border: 2px solid red;
            top: 0;
            right: 0;
        }
    }
}