.upcomingEventsTitleDiv {
  // border: 2px solid;
  height: 90vh;
  background: linear-gradient(
    90deg,
    rgba(8, 61, 72, 0.83) 0%,
    rgba(12, 3, 14, 0.83) 72.36%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderDiv {
  // display: flex;
  // flex-direction: row;
  // overflow-x: scroll;
  // width: 90%;
  // margin-right: 2vw;
  // margin-left: 2vw;
  // background-color: aliceblue;
  // border: 2px solid;
}
