.aboutNMIMSDiv {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(
      345.21deg,
      rgba(130, 35, 132, 0.13) 33.24%,
      rgba(92, 13, 140, 0.2) 69.09%
    ),
    linear-gradient(
      345.21deg,
      rgba(0, 0, 0, 0.2) 25.45%,
      rgba(0, 0, 0, 0.2) 65.43%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000000;
  color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #09d7e3;
  }
}

.pageGridLayout {
  //   display: grid;
  //   grid-template-columns: auto auto;
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
}

.aboutNMIMSDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px solid white;
  flex-direction: column;
  // border: 2px solid red;
  min-width: 300px;
  font-weight: 50;
  letter-spacing: 0.5px;
  line-height: 133.9%;
  letter-spacing: -2%;
  font-size: 1.2vw;
}

.NMIMStitle {
  /* NMIMS Section - Heading */

  // position: absolute;
  // border: 2px solid red;
  // height: 16px;
  // left: 69px;
  // top: 976px;

      // font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4vw;
  // line-height: 85.9%;
  /* or 16px */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  margin: 1vw;
  margin-bottom: 3vw;
}

.aboutNM {
  // font-family: Roboto;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 50;
  //   line-height: 25px;
  letter-spacing: -0.02em;
  padding-right: 8vw;
  padding-left: 8vw;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 133.9%;
  letter-spacing: -2%;
  // border: 2px solid white;
}

.GIFStyle {
  img {
    // height: 90vh;
    // width: 40vw;
    width: 50vw;
    height: 80vh;
    // border: 2px solid white;
    min-width: 300px;
  }
}
