.Gamingmodal {
  background: linear-gradient(
    296.9deg,
    rgba(121, 180, 183, 0.8) 1.12%,
    rgba(254, 251, 243, 0.8) 31.57%,
    rgba(248, 240, 223, 0.8) 54.11%,
    rgba(157, 157, 157, 0.8) 78.19%
  );

  height: 90vh;
  width: 90%;
  .titleSvgStyle {
    width: 70vw;
  }
  .headingDiv {
    // border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    svg{
        width: 50vw;
    }
  }
  .headName {
    display: flex;
    justify-content: flex-end;
    color: #00000091;
    font-size: 1.5vw;
    margin: 1vw;
    margin-bottom: 3vw;
  }
  .committeeDescription {
    display: flex;
    justify-content: center;
    // border: 2px solid;
    padding: 3vw;
    font-size: 1.5vw;
    color: #630000;

    // width: 80%;
  }
  .crossButton {
    float: right;
    margin: 1vw;
    font-size: 2vw;
    cursor: pointer;
  }
}
